<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/flights/new">Create New Flight</a>
      <a href="/flights">All Flights</a>
    </nav>